.container {
  /* border: 3px solid #5d8aa6; */
  border-radius: 6px;
  margin: 30px;
  padding: 30px;
}

.skills-container {
  margin: 50px;
}

.skills-icon {
  margin: 10px;
}

.brand-statement {
  margin-top: 30px;
}
