.about-me {
  background-color: rgba(247, 228, 170, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: #686868;
}

.skills-container {
  margin: 35px;
}

.skills-icon {
  margin: 10px;
}

.brand-statement {
  margin-top: 30px;
}
