	/* Styling to each individual section */
	.ao-section{
    height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
    border: 1pt solid #E6358B;
    background-color: #ffffff;
    margin: 20px;
	}

  .pb-section{
    height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
    border: 1pt solid #2540d5;
    background-color: #ffffff;
    margin: 20px;
	}

  .sw-section{
    height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
    border: 1pt solid #cad1f4;
    background-color: #ffffff;
    margin: 20px;
	}

  .section-title {
    margin: 20px;
  }
	/* For hiding scroll bar */
	::-webkit-scrollbar{
		display: none;
	}

  .top {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  div.scrollmenu {
    width: 80vw;
		height: 90vh;
		display: flex;
    flex-direction: row;
		align-items: center;
    border: 1pt solid #686868;
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
    margin-bottom: 80px;
  }

  div.scrollmenu a {
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
