.footer {
  background-color: rgba(247, 228, 170, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.contact-icons {
  margin: 10px;
}
