.jumbotron {
  font-family: 'Comfortaa', cursive;
}

.subtitle {
  color: #686868;
  font-size: 20px;
}

/* ----------------------- Media Queries  - Mobile -----------------------  */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .card-title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 20px;
  }
}
