.App {
  text-align: center;
  background-color: rgba(186, 188, 162, 0.3);
  /* background-color: rgba(247, 228, 170, 0.6); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #5d8aa6;
}

html {
  scroll-behavior: smooth;
}
